body {
  background: radial-gradient(rgb(87, 233, 237) 68%, rgb(51, 32, 116) 96%);
}
.card {
  max-width: 1000px;
  max-height: 630px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  color: white;
  background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.description {
  font-size: 40px;
  position: relative;
  right: 10px;
  font-style: italic;
  font-size: 35px;
}

.search {
  height: 60px;
  background-color: white;
}

.city {
  width: 240px;
  padding: 0;
  padding: 1em;
  background-color: white;
}
.container,
h1,
h3 {
  margin-top: 20px;
  position: relative;
  left: -10px;
  top: 28px;
  font-size: 45px;
  color: #bbe4e9;
}

.list {
  position: relative;
  right: -650px;
  top: -11px;
  font-weight: bold;
  font-size: 30px;
  color: #bbe4e9;
}
.icon {
  width: 250px;
  position: relative;
  top: -370px;
  right: -350px;
}

.temperature {
  font-size: 100px;
  position: relative;
  top: -600px;
  right: -620px;
  border: 1px white;
  border-radius: 50%;
  background-color: #bbe4e9;
  padding: 20px;
  width: 310px;
  height: 190px;
  text-align: center;
  color: #00204a;
}
.row {
  display: flex;
}
.col-sm {
  position: relative;
  min-width: 30px;
  top: -420px;
  font-size: 35px;
  border: 1px solid rgb(210, 240, 240);
  border-radius: 100%;
  padding: 20px 35px;
  background-color: #bbe4e9;
  text-align: center;
  color: #00204a;
}

.source {
  display: flex;
  justify-content: center;
  align-items: center;
}
a:hover {
  cursor: pointer;
}
p.source {
  position: relative;
  top: -390px;
}
